<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:remove="all">Template for HTML email with inline image</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <p>
        Thank you for listing your ad on Cork!
    </p>
    <p>
        If you would like to Edit or Delete your listing please
    </p>
    <p>Title:</p>
    <p th:text="${title}"></p>
    <p>Description:</p>
    <p th:text="${description}"></p>
    <p>
        <img src='cid:adImage' alt="Ad Image" />
    </p>
    <p>
        Regards, <br />
        <em>The Cork Team</em>
    </p>
</body>

</html>